<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="3.1">
	<!--debut isaac -->
	<display-name>QCM</display-name>
	<welcome-file-list>
		<welcome-file>authentification</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AuthentificationPostController</servlet-name>
		<servlet-class>fr.eni.ihm.controller.AuthentificationPostController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthentificationPostController</servlet-name>
		<url-pattern>/AuthentificationPostController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>authentification</servlet-name>
		<jsp-file>/WEB-INF/jsp/authentification.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>authentification</servlet-name>
		<url-pattern>/authentification</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accueil</servlet-name>
		<jsp-file>/WEB-INF/jsp/accueil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeconnecterController</servlet-name>
		<servlet-class>fr.eni.ihm.controller.DeconnecterController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeconnecterController</servlet-name>
		<url-pattern>/deconnecter</url-pattern>
	</servlet-mapping>
	<!-- gestion filtre -->
	<filter>
		<filter-name>AuthentificationController</filter-name>
		<filter-class>fr.eni.ihm.controller.AuthentificationController
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthentificationController</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>VerificationUtilisateurConnecter</filter-name>
		<filter-class>fr.eni.ihm.controller.VerificationUtilisateurConnecter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>VerificationUtilisateurConnecter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--fin isaac -->
	<servlet>
		<servlet-name>ListeEpreuve</servlet-name>
		<servlet-class>fr.eni.ihm.controller.SelectionEpreuveController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeEpreuve</servlet-name>
		<url-pattern>/ListeEpreuve</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Epreuve</servlet-name>
		<jsp-file>/WEB-INF/jsp/listeEpreuve.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Epreuve</servlet-name>
		<url-pattern>/Epreuve</url-pattern>
	</servlet-mapping>

	<!-- Audric -->
	<servlet>
		<servlet-name>Questions</servlet-name>
		<servlet-class>fr.eni.ihm.controller.QuestionController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Questions</servlet-name>
		<url-pattern>/Questions</url-pattern>
	</servlet-mapping>
	
	<!-- Audric -->
	<servlet>
		<servlet-name>Marquage</servlet-name>
		<servlet-class>fr.eni.ihm.controller.MarquageController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Marquage</servlet-name>
		<url-pattern>/Marquage</url-pattern>
	</servlet-mapping>
	
	<!-- Audric -->
	<servlet>
		<servlet-name>FinEpreuve</servlet-name>
		<servlet-class>fr.eni.ihm.controller.FinEpreuveController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FinEpreuve</servlet-name>
		<url-pattern>/FinEpreuve</url-pattern>
	</servlet-mapping>
	
	<!-- Audric -->
	<servlet>
		<servlet-name>finEpreuve</servlet-name>
		<jsp-file>/WEB-INF/jsp/finEpreuve.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>finEpreuve</servlet-name>
		<url-pattern>/finEpreuve</url-pattern>
	</servlet-mapping>
	
		<!-- Audric -->
	<servlet>
		<servlet-name>PreResultats</servlet-name>
		<servlet-class>fr.eni.ihm.controller.PreResultatsController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PreResultats</servlet-name>
		<url-pattern>/PreResultats</url-pattern>
	</servlet-mapping>
	
	<!-- Audric -->
	<servlet>
		<servlet-name>preResultats</servlet-name>
		<jsp-file>/WEB-INF/jsp/preResultats.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>preResultats</servlet-name>
		<url-pattern>/preResultats</url-pattern>
	</servlet-mapping>
	
	<!-- Audric -->
	<servlet>
		<servlet-name>question</servlet-name>
		<jsp-file>/WEB-INF/jsp/questions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>question</servlet-name>
		<url-pattern>/question</url-pattern>
	</servlet-mapping>
	<!-- Clément -->
	<servlet>
		<servlet-name>AjoutPromotion</servlet-name>
		<jsp-file>/WEB-INF/jsp/ajoutPromotion.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AjoutPromotion</servlet-name>
		<url-pattern>/AjoutPromotion</url-pattern>
	</servlet-mapping>

	<servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>fr.eni.ihm.controller.InscriptionTestController</servlet-class> 
 	</servlet>
 
 	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InscriptionCandidat</servlet-name>
		<jsp-file>/WEB-INF/jsp/inscriptionCandidatTest.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>InscriptionCandidat</servlet-name>
		<url-pattern>/InscriptionCandidat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DesinscriptionCandidat</servlet-name>
		<jsp-file>/WEB-INF/jsp/desinscrireCandidat.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DesinscriptionCandidat</servlet-name>
		<url-pattern>/DesinscriptionCandidat</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>Desinscription</servlet-name>
    	<servlet-class>fr.eni.ihm.controller.DesinscriptionCandidatController</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
		<servlet-name>Desinscription</servlet-name>
		<url-pattern>/Desinscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjoutCandidat</servlet-name>
		<jsp-file>/WEB-INF/jsp/ajoutCandidat.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutCandidat</servlet-name>
		<url-pattern>/AjoutCandidat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjoutUtilisateur</servlet-name>
		<servlet-class>fr.eni.ihm.controller.AjoutUtilisateurController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutUtilisateur</servlet-name>
		<url-pattern>/AjoutUtilisateur</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListeTest</servlet-name>
		<servlet-class>fr.eni.ihm.controller.AfficheListeTestController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeTest</servlet-name>
		<url-pattern>/ListeTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AfficheListe</servlet-name>
		<jsp-file>/WEB-INF/jsp/listeTest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfficheListe</servlet-name>
		<url-pattern>/AfficheListe</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjoutTest</servlet-name>
		<servlet-class>fr.eni.ihm.controller.AjoutQuestionController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutTest</servlet-name>
		<url-pattern>/AjoutTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjouterTest</servlet-name>
		<jsp-file>/WEB-INF/jsp/listeTest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjouterTest</servlet-name>
		<url-pattern>/AjouterTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjoutPromo</servlet-name>
		<servlet-class>fr.eni.ihm.controller.AjoutPromotionController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutPromo</servlet-name>
		<url-pattern>/AjoutPromo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SupprimerUtilisateur</servlet-name>
		<jsp-file>/WEB-INF/jsp/suppressionUtilisateur.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprimerUtilisateur</servlet-name>
		<url-pattern>/SupprimerUtilisateur</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SupprUtilisateur</servlet-name>
		<servlet-class>fr.eni.ihm.controller.SupprUtilisateurController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprUtilisateur</servlet-name>
		<url-pattern>/SupprUtilisateur</url-pattern>
	</servlet-mapping>
	<!-- gestion erreur -->
	<error-page>
		<error-code>400</error-code>
		<location>/saisieError</location>
	</error-page>
	<servlet>
		<servlet-name>SaisieError</servlet-name>
		<jsp-file>/WEB-INF/jsp/saisieError.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaisieError</servlet-name>
		<url-pattern>/saisieError</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>500</error-code>
		<location>/technicalError</location>
	</error-page>
	<servlet>
		<servlet-name>TechnicalError</servlet-name>
		<jsp-file>/WEB-INF/jsp/technicalError.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TechnicalError</servlet-name>
		<url-pattern>/technicalError</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>403</error-code>
		<location>/authorizationError</location>
	</error-page>
	<servlet>
		<servlet-name>AuthorizationError</servlet-name>
		<jsp-file>/WEB-INF/jsp/authorizationError.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationError</servlet-name>
		<url-pattern>/authorizationError</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/notFound</location>
	</error-page>
	<servlet>
		<servlet-name>NotFound</servlet-name>
		<jsp-file>/WEB-INF/jsp/notFound.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotFound</servlet-name>
		<url-pattern>/notFound</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DefaultDenyJSP</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>DefaultDenyTagLib</web-resource-name>
			<url-pattern>/taglib/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>DefaultDenyForwards</web-resource-name>
			<url-pattern>/forward/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>NoAccess</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>